# Default values for mariadb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

operator:
  image:
    repository: ghcr.io/seb-schulz/mariadb-operator
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""
  imageOverride: ""
  resources: {}
  securityContext: {}

database:
  image:
    repository: docker.io/mariadb
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "10"
  imageOverride: ""
  resources: {}
  securityContext: {}

# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

service:
  type: ClusterIP
  port: 3306

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "mariadb-operator"

podAnnotations: {}

podSecurityContext: {}
# fsGroup: 2000

nodeSelector: {}

tolerations: []

affinity: {}

clusterRole: {}
ClusterRoleBindingName: ""

secret:
  name: ""
  randPassworkdLength: 32
  rootPassword: "" # Random when it is empty
  operatorSeed: "" # Random when it is empty
  create: false

persistentVolumeClaim:
  name: ""
  storageClassName: "openebs-hostpath"
  volumeMode: "Filesystem"
  resources:
    requests:
      storage: "10Gi"

persistentVolumeName: ""
