apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: users.k8s.sebatec.eu
  labels:
    {{- include "mariadb.labels" . | nindent 4 }}
spec:
  group: k8s.sebatec.eu
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                database:
                  type: string
                derivedPassword:
                  type: object
                  properties:
                    siteName:
                      type: string
                    siteCounter:
                      type: number
                      minimum: 1
                configMaps:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      namespace:
                        type: string
                    required: ["name"]
  scope: Namespaced
  names:
    plural: users
    singular: user
    kind: User
