name: Release operator
permissions:
  packages: write
on:
  push:
    branches: ['github-actions']
env:
  VERSION: "0.1.0"
jobs:
  build-and-push-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Version of buildah
        run: buildah version
      - run: make build
      - name: Log in to the GitHub Container registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io/seb-schulz
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: make push
  build-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Helm Chart Releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: deploy
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
